@import '../../styles/colors';
@import '../../styles/mixins';

.app {
    display: flex;
    height: 100%;

    flex-direction: column;

    >nav {
        $height: 3rem;

        display: flex;
        height: $height;
        border-bottom: 1px solid $color-black;

        line-height: $height;

        background-color: $color-grey;

        >* {
            margin: 0 1rem;
        }
    }

    >.page {
        @include page-default();

        display: flex;

        flex-grow: 1;
    }
}