@import 'styles/reset';

html,
body,
main {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: Georgia, Helvetica, Helvetica Neue;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}